
body {
    margin: 10px;
    padding-top: 100px;
    background-color: #f8f9fa;
}

.pin-container .pin-name {
    opacity: 1;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.001) !important;
    backdrop-filter: blur(4px);
}

.pin-container:hover .pin-name {
    opacity: 1;
}

.pin-container:hover .pin-dot {
    transform: scale(1.2);
}
.pin-dot { transition: transform 0.2s; }

.icone {
    font-size: 26px;
}

.equipe {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgba(190, 190, 190, 0);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;

}
.equipe:hover{
    transform: scale(1.05);
}

.equipe img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.perfil {
    flex-basis: 250px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.equipe a {
    text-decoration: none;
    color: inherit;   
}

.logo-Syntasis {
    margin: 25px auto;
    justify-content: center;
    text-align: center;
}

.quem-somos {
    padding: 40px 10px;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
}