body {
    padding-top: 76px;
    background-color: #f8f9fa;
    
}

.navbar {
    background-color: rgba(50, 205, 50, 0.5) !important; 
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;

}