
body {
    margin: 10px;
    padding-top: 100px;
    background-color: #f8f9fa;
}

.pin-container .pin-name {
    opacity: 1;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.001) !important;
    backdrop-filter: blur(4px);
}

.pin-container:hover .pin-name {
    opacity: 1;
}

.pin-container:hover .pin-dot {
    transform: scale(1.2);
}
.pin-dot { transition: transform 0.2s; }

.icone {
    font-size: 26px;
}
