body {
    margin: 10px;
    padding-top: 76px;
    background-color: #f8f9fa;
    
}



.navbar {
    background-color: rgba(50, 205, 50, 0.85) !important; 
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(69, 43, 22, 0.548);
    transition: background-color 0.3s ease;

}


.pin-container .pin-name {
    opacity: 1;
    font-size: 0.7rem;
    background-color: rgba(0,0,0,0.7) !important;
    backdrop-filter: blur(4px);
}

.pin-container:hover .pin-name {
    opacity: 1;
}

.pin-container:hover .pin-dot {
    transform: scale(1.2);
}
.pin-dot { transition: transform 0.2s; }

.icone {
    font-size: 26px;
}

